name: test-workflow

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ./02 Starting Project
        run: npm install

      - name: Run tests
        working-directory: ./02 Starting Project
        run: npm test
  deploy:
    runs-on: ubuntu-latest
    steps:
       - name: Checkout code
         uses: actions/checkout@v3

       - name: Setup Node
         uses: actions/setup-node@v3
         with:
          node-version: 18
        
       - name: Install dependencies
         working-directory: ./02 Starting Project
         run: npm install

       - name: Run build
         working-directory: ./02 Starting Project
         run: npm run build
       - name: deploy
         run: echo "deploying"
      
